<div class="single_case_card">
    {{!-- User info --}}
    <div class="user_info">
        <div class="user_img_container animated fadeInUp">
            <img  class="user_img" src="{{case.user.imageUrl}}" alt="{{case.user.imageName}}">
        </div>
        <aside>
            <h1>{{case.user.username}}</h1>
            <p>Telefone: {{case.user.phoneNumber}}</p>
            <div class="contact">
                <a href="mailto:{{case.user.email}}">Email</a>
                <a href="https://wa.me/55{{case.user.phoneNumber}}">Whatsapp</a>
            </div>
        </aside>
        <a class="dashboard_btn btn" href="/dashboard">VOLTAR</a>
    </div>

    {{!-- Case info --}}
    <div class="case_info">
        <div class="case_img_container">
            <img src="{{case.imageUrl}}" alt="{{case.imageName}}">
        </div>
        <aside>
            <h1>{{case.title}}</h1>
            <p>{{case.description}}</p>
            <p>{{case.address}}</p>
        </aside>
    
        {{#if owner}}
            <div class="manage_btns">
                <a href="/case/edit/{{case._id}}">EDITAR</a>
                <a href="/case/delete/{{case._id}}">DELETAR</a>
            </div>
        {{/if}}
    </div>
    
</div>