<div class="case_card">
    {{#if owner}}
        <a href="/case/delete/{{case._id}}">DELETE</a>
        <a href="/case/edit/{{case._id}}">EDIT</a>
    {{/if}}
    <img style="width: 100px; height: auto" src="{{case.imageUrl}}" alt="{{case.imageName}}">
    <h1>{{case.title}}</h1>
    <p>{{case.description}}</p>
    <p>{{case.address}}</p>
    <div class="user_box">
        <img src="{{case.user.imageUrl}}" alt="{{case.user.imageName}}" class="user_img">
        <a href="mailto:{{case.user.email}}">Email</a>
        <a href="https://wa.me/55{{case.user.number}}">Whatsapp</a>
    </div>
</div>