<div class="single_case_card">
    {{#if user}}
        <a class="close_icon" href="/dashboard">
            <img src="/images/close_icon.svg" alt="close icon">
        </a>
    {{else}}
    <a class="close_icon" href="/dashboard/public">
        <img src="/images/close_icon.svg" alt="close icon">
    </a>
    {{/if}}
    {{!-- User info --}}
    <div class="user_info">
        <div class="case_img_container">
            <img src="{{case.imageUrl}}" alt="{{case.imageName}}">
        </div>
        <div class="user_info_content">
            <div class="user_img_container animated fadeInUp">
                <img  class="user_img" src="{{case.user.imageUrl}}" alt="{{case.user.imageName}}">
            </div>
            <div><h1>{{case.user.username}}</h1></div>
            <div class="contact">
                <a href="mailto:{{case.user.email}}">
                    <img src="/images/email_darkred.png" alt="mail icon">
                </a>
                <a href="https://wa.me/55{{case.user.phoneNumber}}">
                    <img src="/images/whatsapp_darkred.png" alt="whatsapp icon">
                </a>
                
            </div>
        </div>
    </div>

    {{!-- Case info --}}
    <div class="case_info">
        <aside class="case_aside">
            <h1>{{case.title}}</h1>
            <p class="description">{{case.description}}</p>
            <h2>Endereço:</h2>
            <p>{{case.address}}</p>
        </aside>
    
        {{#if owner}}
            <div class="manage_btns">
                <a href="/case/edit/{{case._id}}" class="btn">EDITAR</a>
                <a href="/case/delete/{{case._id}}" class="btn --delete">DELETAR</a>
                {{!-- <a href="/dashboard" class="btn">VOLTAR</a> --}}
            </div>
        {{/if}}
    </div>
    <a 
        href="https://twitter.com/intent/tweet?button_hashtag=button&ref_src=twsrc%5Etfw" 
        class="twitter-share-button" data-text="Essa pessoa precisa de sua ajuda:" 
        data-url="http://www.sacadadopredio.com/case/{{case._id}}" 
        data-lang="pt" 
        data-show-count="false">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
</div>