<main class="map_cases_container">

    {{#if user}}
    {{#user}}

    {{!-- User coordinates --}}
    
    <input type="hidden" name="lat" value="{{location.coordinates.[0]}}">
    <input type="hidden" name="lng" value="{{location.coordinates.[1]}}">
    
    {{!-- Nav that appears only if logged in --}}
    <nav class="dashboard_nav">
        <img class="dashboard_icon" src="images/burguer.svg" alt="burguer icon">
        {{#if_eq status 'waiting'}}
        <button class="btn register_btn">
            REGISTRE
        </button>
        {{/if_eq }}
        <div class="profile_info">
            <div class="user_name">
                <p>{{username}}</p>
            </div>
            <div class="user_img_container">
                <img class="user_img" src="{{imageUrl}}" alt="{{imageName}}">
            </div>

            {{!-- profile box --}}

            <aside class="profile_options_box">
                <a href="/logout">LOGOUT</a>
                <a href="/user/edit">EDIT PROFILE</a>
            </aside>
        </div>
    </nav>

    <aside class="dashboard leave_screen">
        <img class="close_icon" src="/images/close_icon.svg" alt="close tab icon">

        <div class="cases_title_container">
            <div class="title_box">
                <h1>CASOS CRIADOS</h1>
                <img class="arrow" src="/images/arrow.svg" alt="">
            </div>
            {{#if_eq status 'registered'}}
            <a href="/dashboard/new-case">
                <img class="create_icon" src="/images/plus.svg" alt="plus icon">
            </a>
            {{/if_eq}}
        </div>

        

        <div class="user_cases_container">
            {{#casesCreated}}
            <div class="case_container">
                <a href="/case/{{_id}}">
                    <h2 class="case_title">{{title}}</h2>
                </a>
                <p class="case_description">{{description}}</p>
            </div>
            {{/casesCreated}}
        </div>
    </aside>
    {{/user}}
    {{else}}

    {{!-- Nav bar for display when no user logged --}}

    <nav class="main_nav">
        <a class="logo_wrapper" href="/">
            <img src="/images/logo.png" alt="logo">
        </a>

        <div class="btn_container">
            <div class="signup_container">
                <button class="signup_btn">SIGNUP</button>
                <form class="signup_form" action="/signup" method="POST" enctype="multipart/form-data">
                    <img class="close_form" src="/images/close_icon.svg" alt="close icon">
                    <input type="text" placeholder="Name" name="username" required>
                    <input type="email" placeholder="Email" name="email" required>
                    <input type="password" placeholder="Password" name="password" required>
                    <input type="submit" value="SIGNUP" />
                </form>
            </div>
            <div class="login_container">
                <button class="login_btn">LOGIN</button>
                <form class="login_form" action="/login" method="POST">
                    <img class="close_form" src="/images/close_icon.svg" alt="close icon">
                    <input type="text" placeholder="Name" name="username" required>
                    <input type="password" placeholder="Password" name="password" required>
                    <input type="submit" value="LOGIN" />
                </form>
            </div>
        </div>

    </nav>
    {{/if}}

    {{!-- Map --}}
    <div class="map_content_container">
        <aside class="intro_text">
            <h1 class="title --intro">Descubra quem precisa de você no seu bairro</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate non ipsa consectetur assumenda eius eveniet nesciunt dolores aperiam, illo doloribus, nobis doloremque corrupti excepturi delectus? Enim fuga accusamus eaque temporibus.</p>
            <div class="down_arrow">
                <img class="jump" src="/images/down_arrow.svg" alt="seta para baixo">
            </div>
        </aside>
        <div class="map_box">
            <div id="map"></div>
        </div>
    </div>

    {{!-- Cases container --}}
    {{#if cases}}
    <div class="cards_container">
        {{#cases}}
        {{> case }}
        {{/cases}}
    </div>
    {{/if}}

    {{!-- Registration Container --}}

    {{#with user}}
        {{#if_eq status "waiting"}}
        <div class="registration_layer">
            <div class="registration_container">
                <img src="/images/close_icon.svg" class="close_register"/>
                <p>Complete your registration:</p>
                <form class="signup_form" action="/register" method="POST" enctype="multipart/form-data">
                    <label for="address">
                        Enter your address
                    </label>
                    <div class="autocomplete_box">
                        <input id="address" type="text" placeholder="address" autocomplete="no" name="address" required >
                        {{!-- hidden inputs to get coordinates --}}
                        <input class="lat" type="hidden" name="lat">
                        <input class="lng" type="hidden" name="lng">
                        <div class="results_box"></div>
                    </div>
                    <input type="text" placeholder="state" name="state" required>
                    <input type="text" placeholder="phone number" name="phoneNumber" required>
                    <input type="file" placeholder="File" name="file" />
                    <div class="file_label_box">
                        <label class="btn" for="file">Image</label>
                        <div class="file_text">Select a image</div>
                    </div>
                    <input type="submit" class="btn register_save" value="SAVE"/>
                </form>
            </div>
        </div>
    </div>
    <script src="/javascripts/register.js"></script>
    <script src="javascripts/address_autocomplete.js" defer></script>
    <script type="text/javascript" src="javascripts/map_position.js" defer></script>
    {{/if_eq}}
    {{/with}}
</main>
{{#if user}}
    <script src="javascripts/dashboard.js" defer></script>
    <script src="javascripts/map_registered.js" defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjY8VOil9kraBS00iFLFDBUN_pq_tGJGE"></script>
{{else}}
    <script src="javascripts/dashboard.js" defer></script>
    <script src="javascripts/home.js" defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjY8VOil9kraBS00iFLFDBUN_pq_tGJGE"></script>
    <script type="text/javascript" src="javascripts/map_position.js" defer></script>
{{/if}}