<p>EDIT YOUR INFO:</p>
{{#with user}}
<form class="signup_form" action="/user/edit" method="POST" enctype="multipart/form-data">
    <input type="text" placeholder="Name" name="username" value="{{username}}">
    <input type="email" placeholder="Email" name="email" value="{{email}}">
    <input type="text" placeholder="address" name="address" value="{{address}}">
    <input type="text" placeholder="state" name="state" value="{{state}}">
    <input type="text" placeholder="phone number" name="phoneNumber" value="{{phoneNumber}}">
    <input type="file" placeholder="File" name="file" />
    <input type="submit" />
</form>
<a href="/user/delete">DELETE USER</a>
{{/with}}